/* Specific styles for the Informatica page */

:root {
--informatica-primary:   #1976d2;      /* Azul principal */
  --informatica-secondary: #64b5f6;      /* Azul claro */
  --informatica-light:     rgb(227, 242, 253); /* Azul muy claro */
  --informatica-dark:      #0d47a1;      /* Azul oscuro */
  --informatica-accent:    #82b1ff;      /* Azul acento */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

.full-div{
  width: 98vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  align-items: center;
}

.full-div-inside{
    width: 40vw;
    height: 50vh;
    background: linear-gradient(to right, var(--informatica-dark), var(--informatica-primary));
    color: white;
    border-radius: 1.5vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formReset{
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.form-separator{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#nuevaContrasena, #confirmarContrasena, .button-cambiarcontraseña{
    width: 20vw;
    padding: 2vh;
    border-radius: 0.5vw;
    border: 1px white;
}


.button-cambiarcontraseña{
    border: 1px solid white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.button-cambiarcontraseña:hover{
    background-color: #0d47a1;
    color: #82b1ff;
}



#mensaje{
    color: rgb(255, 67, 67);
}

p{
    margin-top: 0;
    margin-bottom: 3.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

h1{
  margin: 0;
  padding: 0;
}